# OSX
.DS_Store

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.orig.*

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Env
.env
.env.local
.env.*.local

# Metro
.metro-health-check*

# Logs
*.log

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# EAS
eas.json.local

# TypeScript
*.tsbuildinfo
